*{
    margin: 1px;
    padding: 1px;
    background-color:floralwhite;
    color:#ff9280;
}
.title1{
    color: #feb3a7;
    text-shadow: 2px 2px 1px #ffcece;
}

body{
    font-style: "맑은고딕", "고딕", "굴림";
}

header{
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-top: 5px;
    background-color:floralwhite;
    overflow: hidden;
}

header h1{
    padding: 5px;
    float:center;
    margin-right: auto;
    margin-left: auto;
    color:#ffffff;
    font-style:italic;
    font-size:40px;
    border-bottom-style: double; 
    border-bottom-width: thick;
    border-top-style: double; 
    border-top-width: thick;
    border-color: #ffcccc; 
}
header h2{
    float:center;
    margin-right: auto;
    margin-left: auto;
    padding: none;
    color:#ffffff;
    font-style:italic;
    font-size:40px;
}


header nav{
    text-align: center;
    padding:10px;
    background-color: #feb3a7;  
    
}

nav ul{
    float: center;
    list-style: none;
    background-color: #feb3a7;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav ul li{
    display:inline;
    float: center;
    margin: 80px;
    background-color: #feb3a7;
}

nav ul li a{
    color: #ffffff;
    background-color: #feb3a7;
    font-family: "DX영화자막 Std Medium";
}

ul li a:hover{
    font-size: 20px;
    color: violet;    
}

section{
    width: 100%;
    float:center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

s1 p{
    float:center;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    color: #ff9280;
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
}


.li2{
    font-size: 20px;
    font-family:sans-serif;
    text-align: center;
    background-color: #ffdfdf;
    font-family: "DX영화자막 Std Medium";
    border-bottom-style: double; 
    border-bottom-width: thick;
    border-top-style: double; 
    border-top-width: thick;
    border-color: #ffcccc;
    background-color: #ffffff;
}


s2 table{
    float: center;
    border: none;
    margin: auto;
    width: 70%;
}

.t01{
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.t02{
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.t03{
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.p1{
    float: center;
    font-weight: 700;
    font-family: "DX영화자막 Std Medium";
}
.p2{
    float: center;
    width: 350px;
    height: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "DX영화자막 Std Medium";
}

footer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    text-align: center;
    border-top-style: double;
    border-top-color: #feb3a7;
    border-bottom-style: double;
    border-bottom-color: #feb3a7;
    
}

footer p{
    color: #feb3a7;
}

ul{
    list-style-type: circle;
}





